body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}
.main-container {
    width: 320px;
    height: 490px;
    display: flex;
    background-color: rgb(56, 53, 53);
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10%;
}
.container {
    width: 306px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 2px;
    border: solid rgb(56, 53, 53) 3px;
    flex: 1 1 0;
    box-sizing: border-box; 
}
.container>.display,
.button-grp0,
.button-grp1,
.button-grp2,
.button-grp3,
.button-grp4 {
    width: 306px;
    display: flex;
    margin-top: 0;
    flex: 1 1 0;
    box-sizing: border-box;
    padding:1px;
    gap: 3px;
}
button {
    flex: 1 1 0;
    border: solid rgb(56, 53, 53) 3px;
    border-radius: 8px;
    background-color: rgb(43, 168, 43);
    padding-left: 5px;
    justify-content: center;
    align-items: center;
   

}
.zero {
    flex-grow: 2.3;
}
.dot{
   
    flex-grow: 1;
}
.equal{
    
    flex-grow: 1;
}
